@use '../../styles/colors.scss';
@use '../../styles/buttons.scss';

.pagination {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    align-items: center;
    padding-bottom: 40px;

    .page-link {
        text-decoration: none;
        @include buttons.button();
        padding: 5px;

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    .page-link__prev {
        @include buttons.button-color(colors.$PREV_LINK_BOX_SHADOW_COLOR);
    }

    .page-link__next {
        @include buttons.button-color(colors.$NEXT_LINK_BOX_SHADOW_COLOR);
    }

    .page-link__text {
        font-size: 1.5rem;
        text-shadow: 0 0 2px #000;
    }
}
