$NAV_LINK_COLOR: #9f8f8f;
$ACTIVE_NAV_LINK_COLOR: #494949;
$FORM_DATA_BUTTON_COLOR: #423f3f;

$CREATE_BUTTON_BOX_SHADOW_COLOR: #2952bb;
$UPDATE_BUTTON_BOX_SHADOW_COLOR: #c46116;
$SELECT_BUTTON_BOX_SHADOW_COLOR: #29bb32;
$DELETE_BUTTON_BOX_SHADOW_COLOR: rgb(187, 41, 41);

$START_BUTTON_BOX_SHADOW_COLOR: #293abb;
$STOP_BUTTON_BOX_SHADOW_COLOR: rgb(187, 163, 41);

$PREV_LINK_BOX_SHADOW_COLOR: #4129bb;
$NEXT_LINK_BOX_SHADOW_COLOR: rgb(126, 20, 138);

$GENERATE_BUTTON_BOX_SHADOW_COLOR: #ab1717;

$RACE_BUTTON_COLOR: #378f3f;
