@use '../../styles/colors.scss';

.header {
    margin-top: 20px;
    height: 50px;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.nav {
    padding-right: 10px;
    border-right: 1px solid colors.$NAV_LINK_COLOR;
    &:last-child {
        border-right: none;
    }
}

.nav-link {
    text-decoration: none;
    color: colors.$NAV_LINK_COLOR;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 5px;

    &.active {
        color: colors.$ACTIVE_NAV_LINK_COLOR;
    }
}
