body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 80%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    gap: 20px;
    flex-flow: column nowrap;
}
